# Cypress videos and screenshots folders
cypress/e2e/videos/
cypress/e2e/screenshots/

# Allure results folder
allure-results/

#Personal Information that is Updated/Saved on Every Run
cypress/e2e/fixtures/PersonInfoData.json


